.footer {
    width: 1440px;
    height: 424px;
    position: absolute; /* Change to absolute positioning */
    top: 6125px; /* Position the footer at 6125px from the top of the page */
    padding: 40px 135px 30px 162px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .footer-app {
    width: 358.81px;
    height: 235px;
  }
  
  .widget {
    height: 235px;
    padding: 0px 13px 10px 10px;
  }
  
  .widget1 {
    width: 231.82px;
    position: absolute;
    left: 399.81px;
  }
  
  .widget2 {
    width: 230.98px;
    position: absolute;
    left: 672.63px;
  }
  
  .widget3 { /* Assuming the third widget as widget3 */
    width: 330.37px;
    position: absolute;
    left: 944.61px;
  }
  
  .footer-text {
    width: 1143px;
    height: 28px;
    position: absolute;
    top: 31px;
    padding: 0px 645px 0px 0px;
    font-size: 14px; /* Adjust font size as necessary */
  }
  